[submodule "third_party/libblifparse"]
	path = third_party/libblifparse
	url = git@github.com:kmurray/libblifparse.git
[submodule "third_party/libnbtplusplus"]
	path = third_party/libnbtplusplus
	url = git@github.com:ljfa-ag/libnbtplusplus.git
[submodule "third_party/clangformat-cmake"]
	path = third_party/clangformat-cmake
	url = git@github.com:zemasoft/clangformat-cmake.git
